@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  height: 100%;
}

body.no-scroll {
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
  position: fixed;
}

* {
  -webkit-user-drag: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}